
## LaTeX ##

*.bbl
*.blg
*.log
*.gz
*.bak
*.html
*.aux
*.ilg
*.ind
*.out
*.fdb_latexmk
*.fls
__latexindent_temp.tex

resume-zh.tex

## Editors ##

.idea/
.vs/
.vscode/

## Emacs/Vim ##

*~

## macOS ##
.DS_Store
